* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  padding: 5px;
}

article {
  margin: 2rem;
  outline: thin solid blue;
  transition: 0.2s;
  overflow: hidden;
}

article .container {
  position: relative;
  right: 100%;
  transition: 0.85s;
}

article:hover {
  .container {
    outline-offset: 15px;
    position: relative;
    right: 0%;
  }
}

article h2 {
  color: #fff;
}
